<h1>Login</h1>

<% if @error %>
  <p><%= @error %></p>
<% end %>

<% if current_user %>
  <p>Hello, <%= current_user.username %>!</p>
<% else %>
  <%= form_tag login_path do %>
    <%= label_tag :username %>
    <%= text_field_tag :username %>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <%= submit_tag "Login" %>
  <% end %>
<% end %>