<h1 class="model-index">Admins <%= link_to '<i class="fa fa-plus-circle"></i>'.html_safe, new_user_path %></h1>

<div id="container">

  <table>
    <thead>
      <tr>
        <th>username</th>
        <th>#cats</th>
        <th>last cat added</th>
        <th>admin since</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.username, user %> <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_user_path(user) %> <%= link_to '<i class="fa fa-trash"></i>'.html_safe, user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= user.cats.count %></td>
          <td><% if user.cats.count > 0 %><%= user.cats.order("created_at").last.created_at.strftime("%B %-d, %Y at %-l:%M%p") %><% else %>No Cats Yet<% end %></td>
          <td><%= user.created_at.strftime("%B %-d, %Y") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>