<!DOCTYPE html>
<html>
<head>
  <title>Cat vs Cat</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Slackey' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= yield :jscats %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
<!-- change to div -->
<p>Welcome, <%= current_user.username %> | <%= link_to "Logout", logout_path, :method => "delete" %></p>
<% elsif !current_page?('/login') %>
<p><%= link_to "Login", login_path %></p>
<% end %>
<%= yield %>

</body>
</html>
